<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3" />
    </startup>

  <appSettings>
    <add key="TimerInterval" value="3" />
	  <add key="IPAddress" value="192.168.1.213"  />
	  <add key ="Port" value="502" />
	<add key="RegisterNo" value="1001"/>
    <add key="Path" value="C:\\ErrorLOg\\dtvs_testrig.txt" />
	<add key ="testreqpath" value="C:\16-04-2024\Request.dat" />
	  <!--<add key ="testreqpath" value="C:\16-04-2024\testplanzoho.json" />-->
	<add key ="testreqsave" value="C:\16-04-2024\TestPlanCsv.csv" />
	  
	 <add key ="testresultpath" value="C:\16-04-2024\ALP15 pretest results.csv" />


	  <!--<add key="output" value="C:\Embridge\JSONtoCSV\jsontocsv\jsontocsvconverter\jsontocsvconverter\bin\Debug\ReadCoildata.json"/>-->
	<add key="ClientSettingsProvider.ServiceUri" value="" />
	
  </appSettings>
</configuration>